body{background-color:#3BA5E3;color:#57575C;}
.title{font-size:40pt;text-align:center;color:black;}
th{align:center;}
td{text-align:center;}
.form{background-image: image(Images/reelTicket.png);}
a{color:#57575C;}